.main {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
  }

  .article-container {
    display: flex;
    justify-content: space-around;

    .article-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}